.navbar{
    height: 100px;
}

.f-info-links a{
    color: #222222;
    text-decoration: none;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info-links,.f-info-social{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.f-info-social i{
    height:2rem;
    margin-right: 1rem;
}
.f-info{
    height: 8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ebebeb;
    align-items:space-evenly;
}
